<a href="/">Home</a>

<form action="/cars" method="post">
  <label for="makeModel">Add a new Car Make and Model</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add the price of the Car</label>
  <input id="price" name="price" type="text">
  <label for="miles">Add the milage of the car</label>
  <input id="miles" name="miles" type="text">
  <button type="submit">Submit</button>
</form>