<h1>Welcome to Lonny's Lemons Car Dealership!</h1>
<h2>Sellers:</h2>
<p>To add a new car: <a href='/cars/new'>Click Here</a></p>
<p>To view listed cars: <a href='/cars'>Click Here</a></p>
<h2>Buyer:</h2>
<p>To view all available cars <a href='/buy'>Click Here</a></p>